@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Open+Sans&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background: rgb(28, 33, 32, 0.75);
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

header:hover    {
    opacity: .95;
}

nav a {
    text-decoration: none;
    border-radius: 10px;
    background-color: transparent;
    color: #d4d4d4;
    padding: 20px;
    align-self: center;
    font-weight: 1000;
    font-size: 18px;
    border: solid #237077 2px;
    margin: auto auto;
}

nav a:hover  {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-color: #38a4b0;
}

.logo   {
    width: 100px;
    border-radius: 15%;
    margin: 8px;
    border: solid #237077 2px;
    margin-left: 60px;
}

.logo:hover     {
    border-color: #38a4b0;
}

#General_banner {   
    width: 100%;
    height: 129%;
    margin-top: -182px;
    border-radius: 10px;
}

#Banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#Banner_box {
    z-index: -1;
    grid-column: 1/4;
    grid-row: 1/3;
    filter:brightness(65%)
}

.Tittle1 {
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: 1;
    color: #ffffff;
    padding: 5px 200px;
    background: rgb(28, 33, 32, 0.75);
    border-radius: 10px;
    font-weight: 600;
    border: solid #237077 3px;
    font-size: 35px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.Definition {  
    font-family: 'Open Sans', sans-serif;
    color: #1c2120;
    text-align: center;
    margin-top: -305px;
    background-color: rgb(236, 250, 255);
    padding: 60px;
}

.Points1     {
    display: inline-block;
    text-align: left;
    margin-right: 320px;
}

.Points2     {
    display: inline-block;
    text-align: left;
    margin-left: 80px;
}

#feet {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: rgb(236, 250, 255);
    padding-bottom: 50px;
}

.Work {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: solid #00f2ff 1px;
    grid-column: 2/10;
    grid-row: 1/10;
    filter:brightness(75%)
}

.Technology {
    font-family: monospace;
    z-index: 1;
    grid-column: 3/9;
    grid-row: 6/8;
    text-align: center;
    background: rgb(255, 255, 255, 0.75);
    border-radius: 10px;
    font-size: 23px;
    color: #1c2120;
    font-weight: 500;
    padding: 0px 12px 0px 12px;
    margin: auto;
}

.Technology:hover {
    opacity: .9;
    transform: scale(1.08);
    border: solid #ffffff 2px;
    color: #000000;
    background: rgb(255, 255, 255, 1);
}

footer{
    font-family: 'Inter', sans-serif;
    background: rgba(36, 53, 61, 0.90);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 25px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .site_plan, footer .contactus{
    color: #e3e3e3;
    border-radius: 5px;
    padding: 8px;
    border: solid #237077 2px;
}

footer .site_plan:hover, footer .contactus:hover{
    background-color: #001d21;
    color: #ffffff;
    border-radius: 5px;
    border-color: #38a4b0;
}

footer p    {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

footer .facebook:hover, footer .instagram:hover, footer .twitter:hover{
    background-color: #ffffff;
    padding-top: 15px;
}

footer:hover    {
    opacity: .98;
}

.foot   {
    background-color: rgb(236, 250, 255);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
.title {
    color: grey;
    font-size: 18px;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
button:hover, a:hover {
    opacity: 0.7;
}

.fa_fa-linkedin {
    width: 30px;
    height: 30px;
}

.fa_fa-facebook, .fa_fa-twitter, .fa_fa-dribbble {
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.card-section { 
    background-color: rgb(236, 250, 255);
    padding-bottom: 50px;
    margin-top: -150px;
}

/* Strategies Page */

.Strategies     {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    background-color: rgb(236, 250, 255);
    grid-row-gap: 20px;
    padding-bottom: 400px;
    font-family: 'Open Sans', sans-serif;
}

.strategies_head    {
    grid-column: 1/11;
    grid-row: 1;
    text-align: center;
    margin-top: -300px;
    background-color: rgb(236, 250, 255);
    padding-top: 100px;
    font-size: 20px;
    color: #24353D;
}

.strategies_1, .strategies_2, .strategies_3 {
    width: 100%;
    height: 100%;
}

.strategies_1_box   {
    grid-column: 7/10;
    grid-row: 1/6;
}

.strategies_1, .strategies_2, .strategies_3   {
    border-radius: 3px;
}

.content_marketing {
    grid-column: 2/7;
    grid-row: 2/5;
    text-align: center;
    background-color: #ffffff;
    color: #24353D;
    border: solid rgb(255, 255, 255) 10px;
    font-size: 14px;
    border-radius: 1px;
    border: solid #237077 1px;
    font-weight: 600;
}

.content_marketing p {
    margin: 20px 20px;
}

.strategies_2_box   {
    grid-column: 2/5;
    grid-row: 7/12;
}

.social_media_marketing {
    grid-column: 5/10;
    grid-row: 8/11;
    text-align: center;
    background-color: #ffffff;
    color: #24353D;
    border: solid rgb(255, 255, 255) 10px;
    border-radius: 1px;
    font-size: 14px;
    border: solid #237077 1px;
    font-weight: 600;
}

.social_media_marketing p {
    margin: 20px 20px;
}

.strategies_3_box   {
    grid-column: 7/10;
    grid-row: 13/18;
}

.seo_marketing {
    grid-column: 2/7;
    grid-row: 14/17;
    text-align: center;
    background-color: #ffffff;
    color: #24353D;
    border: solid rgb(255, 255, 255) 10px;
    border-radius: 1px;
    font-size: 14px;
    border: solid #237077 1px;
    font-weight: 600;
}

.seo_marketing p    {
    margin: 20px 20px;
}

.footer_strategies  {
    margin-top: -150px;
    
}

.medium  {
    font-size: 12px;
}

.line1      {
    grid-row: 6;
    align-self: start;
    font-weight: 600;
    color: #237077;
    font-size: 20px;
}

.line2      {
    grid-row: 12;
    align-self: start;
    font-weight: 600;
    color: #237077;
    font-size: 20px;
}

/* Business Page */

.Business   {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    background-color: rgb(236, 250, 255);
    margin-top: -300px;
    font-family: 'Open Sans', sans-serif;
}

.Tittle1_business {
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: 1;
    color: #ffffff;
    padding: 5px 200px;
    background: rgb(28, 33, 32, 0.75);
    border-radius: 10px;
    font-weight: 600;
    border: solid #237077 3px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.business_head  {
    grid-column: 3/9;
    text-align: center;
    font-size: 12px;
    padding-top: 40px;
}

.business_banner    {
    grid-column: 2/10;
    grid-row: 3/9;
    align-content: center;
}

.business1  {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: solid #237077 2px;
}

.business_information   {
    grid-column: 1/11;
    grid-row: 9/14;
    text-align: center;
    font-size: 15px;
    margin: 30px 38px 0px 38px;
}

.line     {
    grid-row: 14;
    align-self: start;
    font-weight: 600;
    color: #237077;
    font-size: 20px;
    margin-top: -50px;
}

.business_steps_head    {
    grid-column: 3/9;
    grid-row: 15;
    text-align: center;
    margin-top: -30px;
}

.business_end_banner {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: solid #237077 2px;
}

.business_end   {
    grid-column: 2/10;
    grid-row: 16/21;
    margin-bottom: 80px;
}

.steps  {
    grid-column: 7/9;
    grid-row: 17/20;
    background-color: #ffffff;
    text-align: center;
    margin-top: -72px;
    margin-right: -80px;
    font-size: 17px;
    font-family: monospace;
    z-index: 1;
    background: rgb(255, 255, 255, 0.75);
    border-radius: 5px;
    color: #1c2120;
    font-weight: 500;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border-radius: 1em;
  }
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #237077;
}
  
input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}
  
.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
    background-color: rgba(36, 53, 61, 0.90);
    border-radius: 5px;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

.Contact_us  {
    margin:-740px 533px 200px 534px ;
    font-weight: 600;
    background: rgba(199, 188, 188, 0.5);
    border-radius: 10px;
}
