@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Open+Sans&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background: rgb(28, 33, 32, 0.75);
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

header:hover    {
    opacity: .95;
}

nav a {
    text-decoration: none;
    border-radius: 10px;
    background-color: transparent;
    color: #d4d4d4;
    padding: 20px;
    align-self: center;
    font-weight: 1000;
    font-size: 18px;
    border: solid #237077 2px;
    margin: auto auto;
}

nav a:hover  {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-color: #38a4b0;
}

.logo   {
    width: 100px;
    border-radius: 15%;
    margin: 8px;
    border: solid #237077 2px;
    margin-left: 60px;
}

.logo:hover     {
    border-color: #38a4b0;
}

#General_banner {   
    width: 100%;
    height: 129%;
    margin-top: -182px;
    border-radius: 10px;
}

#Banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#Banner_box {
    z-index: -1;
    grid-column: 1/4;
    grid-row: 1/3;
    filter:brightness(65%)
}

.Tittle1 {
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: 1;
    color: #ffffff;
    padding: 5px 200px;
    background: rgb(28, 33, 32, 0.75);
    border-radius: 10px;
    font-weight: 600;
    border: solid #237077 3px;
    font-size: 50px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

.Definition {  
    font-family: 'Open Sans', sans-serif;
    color: #1c2120;
    text-align: center;
    margin-top: -305px;
    background-color: rgb(236, 250, 255);
    padding: 60px;
}

.Points1     {
    display: inline-block;
    text-align: left;
    margin-right: 320px;
}

.Points2     {
    display: inline-block;
    text-align: left;
    margin-left: 80px;
}

#feet {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: rgb(236, 250, 255);
    padding-bottom: 50px;
}

.Work {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: solid #00f2ff 1px;
    grid-column: 2/10;
    grid-row: 1/10;
    filter:brightness(75%)
}

.Technology {
    font-family: monospace;
    z-index: 1;
    grid-column: 3/9;
    grid-row: 6/8;
    text-align: center;
    background: rgb(255, 255, 255, 0.75);
    border-radius: 10px;
    font-size: 23px;
    color: #1c2120;
    font-weight: 500;
    padding: 0px 12px 0px 12px;
    margin: auto;
}

.Technology:hover {
    opacity: .9;
    transform: scale(1.08);
    border: solid #ffffff 2px;
    color: #000000;
    background: rgb(255, 255, 255, 1);
}

footer{
    font-family: 'Inter', sans-serif;
    background: rgba(36, 53, 61, 0.90);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 25px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color: #d6d6d6;
    text-decoration: none;
}

footer .site_plan, footer .contactus{
    color: #e3e3e3;
    border-radius: 5px;
    padding: 8px;
    border: solid #237077 2px;
}

footer .site_plan:hover, footer .contactus:hover{
    background-color: #001d21;
    color: #ffffff;
    border-radius: 5px;
    border-color: #38a4b0;
}

footer p    {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

footer .facebook:hover, footer .instagram:hover, footer .twitter:hover{
    background-color: #ffffff;
    padding-top: 15px;
}

footer:hover    {
    opacity: .98;
}

.foot   {
    background-color: rgb(236, 250, 255);
}